
@{
    ViewBag.Title = "About";
}
<br />
<br />

<h2>About</h2>

    <div class="flex-container"> 
        <header>
            <h1><b>A</b>bout me</h1>

        </header>
     My name is Andreas!
     I like to play Tennis, Badminton and Floorball.   
    I have experience of machhine engeneering.
    
    <nav class = "nav">
        <ul>
            <li><a href=" ">My phonenr</a>
            <li><a href=" ">My adress</a>
            <li><a href=" ">My email</a>

       </ul>

    </nav>


        <article class ="article">

<h2><b>A</b>ndreas <b>O</b>genblad</h2>

            <p>
                My phonenr: 073-6842966
                
                email: andreas@ogenblad.se
                <a href="">email</a>
                <p/>



            

        </article>



    
    
    
    
    
    
    
    
    </div>