
@{
    ViewBag.Title = "Project";
}
<br />
<br />
<h2>Andreas MVC Project</h2>


<h2>Unordered List with Circle Bullets</h2>

<ul style="list-style-type:circle">
    <li>Calculator</li>
    <li>Golf project</li>
    <li>Arena fighter</li>
    <li>Vending machine</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Bootstrap</li>
    <li>Sokoban</li>

</ul>
